<nav class="main-navbar">
    <ul class="nav-menu">
        <li class="nav-item {{if eq .ActivePage "home"}}active{{end}}">
            <a href="/">Accueil</a>
        </li>
        <li class="nav-item {{if eq .ActivePage "hack"}}active{{end}}">
            <a href="/forum/hack">Hack</a>
        </li>
        <li class="nav-item {{if eq .ActivePage "prog"}}active{{end}}">
            <a href="/forum/prog">Programmation</a>
        </li>
        <li class="nav-item {{if eq .ActivePage "news"}}active{{end}}">
            <a href="/forum/news">News</a>
        </li>
        {{if .User.IsAdmin}}
        <li class="nav-item admin {{if eq .ActivePage "admin"}}active{{end}}">
            <a href="/admin">Administration</a>
        </li>
        {{end}}
    </ul>
</nav>